$baseFontSize: 13px;

@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'font-awesome';

.center {
  text-align: center !important;
}

a:hover {
  text-decoration: none;
}

#nav_container {
  margin-bottom: 10px;

  i.icon-home {
    margin-right: 10px;
  }

  a {
    vertical-align: middle;
    display: inline-block;
  }
}

label {
  font-weight: bold;
}

#body_container {
  margin-top: 20px;

  .well h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    display: inline-block;
  }
}

.btn-toolbar.filters {
  margin-top: 5px;

  h4 {
    display: inline-block;
    vertical-align: middle;
    margin: -12px 0 0 20px;

    &:after {
      margin-right: 7px;
      content: ':';
    }
  }
}

.form-actions {
  a, .btn {
    margin: 0 3px;
  }
}

.admin-link {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 7px;
}

.event-title a {
  font-weight: bold;
}

.separator td {
  border-top: 0;
  /*border-bottom: 1px solid #dddddd;*/
}

.image-list li,
.tag-list li {
  display: inline-block;
  float: left;
}

.tag-list li {
  margin: 2px;
  padding: 3px 7px;
  background-color: #0088cc;
  color: #fff;
}

.image-list li {
  margin-left: 3px;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #e1e2e3;
}

#page_preview_modal {
  width: 880px;
  margin-left: -470px;
  top: 5%;

  .modal-body {
    height: 500px;
    max-height: 500px;
  }
}

select {
  width: auto;
}
legend {
  margin-bottom: 10px;
}

#source {
  min-width: 300px;
}

#events_outer {
  padding: 10px;
  max-height: 700px;
  overflow: auto;
  border-top: 1px solid #e1e2e3;
}