$baseFontSize: 13px;

@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'font-awesome';

#body_container {
  margin-top: 30px;
}

.admin-link {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 7px;
}

.event-title a {
  font-weight: bold;
}

.separator td {
  border-top: 0;
  /*border-bottom: 1px solid #dddddd;*/
}

.image-list li,
.tag-list li {
  display: inline-block;
  float: left;
}

.tag-list li {
  margin: 2px;
  padding: 3px 7px;
  background-color: #0088cc;
  color: #fff;
}

#page_preview_modal {
  width: 880px;
  margin-left: -470px;
  top: 5%;

  .modal-body {
    height: 500px;
    max-height: 500px;
  }
}

legend {
  margin-bottom: 0;
}